*{
    box-sizing: border-box;

}
.path{
    position: absolute;
    z-index: -1;
    
}
.ellipse{
    position: absolute;
    z-index: 1;
    
}
.dots{
    position: absolute;
    z-index: 1;
    
}
.shapes{
    
        max-width: 200px;
        max-height: 350px;
    
    
}
.circle,.line,.triangle{
    position: absolute;
    z-index: 1;
}
.car{
    position:relative;
    z-index: 10;
}
.navbar{
  position: absolute  !important;
  z-index: -2 !important;
width:100%;
}
.width{
    width:5%;
}
/* //373737 */
.diffcolor{
    color: #4b83fc !important;
}
@font-face {
    font-family: fontone;
    src: url(fonts/dinnextltarabic-light\ 2.otf);

  }
@font-face {
    font-family: fonttwo;
    src: url(fonts/DINNextLTArabic-Medium.ttf);
    
  }
  @font-face {
    font-family: fontthree;
    src: url(fonts/DINNextLTArabic-Regular.ttf);
    
  }
.nav-link{
    font-family: fontone;
}
.shaded{
  
width: 250px;
height: 40px;
border-radius: 20px;
background-color: rgba(75, 131, 252, 0.05);
}
.shaded p{
    font-weight:400;
    font-family: fontthree;
}
.pos{
    width:550px;
    height:550px;
}

.btn-color-purple{
    background-color: #4b83fc !important;
}

.btn-color-mint{
    background-color: #66cea9 !important;
}

.mint-arrow{
    color:#2f6551c0;
}
.two{
font-family:"fonttwo" ;
font-weight:600;
align-items: right;
}
.two-purple{
    color:#4b83fc;
    margin: auto;
}
.bottom-section div{
    background-color: #f6f9ff;
    width: 230px;
    height: 120px;
    border-radius:20px;
}

.content h3{
 font-size: 35px;
line-height: 28px;
color: #dcdcdc;
font-weight: 700;
}

.location{
    color: #4b83fc;
    font-family: "fontone";
}

.clar{
font-size: 20px;
line-height: 28px;
color: #373737;
font-weight: 700;
font-family: "fontone";
}

.bottom-section{
    width: 100%;
    height: 100%;
}
